/*div{
	outline: red solid 1px;
}*/
.boletin, .eventos{
	margin-top: 30px;
}
.bole img{
	height: 200px;
	width: 250px;
}
.ene{
	height: 70px;
	width: 70px;
	font-size: 20px;
	background-color: #A30936;
	color: white;
}
.img{
	margin-top: 15px;
}
.enviar{
	margin-top: 45px;
}
.color1{
	background-color: #D3D3D3;
	margin-top: 30px;
}
.carru{
	background: #f5f5f5;
}
.carousel-inner{
	margin-bottom: 50px;
	margin-top: 30px;
}
.video-responsive {
    position: relative;
    margin-bottom: 20px;
    padding-top: 56.25%;
}
.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color: grey;
}
.form{
	width: 470px;
	padding: 0 5px;
	margin: 0 auto;
}
.des{
	margin-left: 30px;
}
.pag img{
	height: 40px;
	width: 40px;
	margin-top:15px; 
	margin-bottom: 15px;
}
´.pie{
	color: white;
	background-color: black;
}
.ult{

    padding-top: 15px;
    padding-bottom: 15px;
	background: black;
}
.ult p{
	color: white;
}
/* profesores style */
.thumbnail img ,.col-sm-4 img{
	height: 250px;
	width: 200px;
}
.per, .tre{
	margin-top: 50px;
}
.pro img{
	height: 250px;
	width: 300px;
}
/*menyy*/
.jimgMenu {
	position: relative;
	width: 810px;
	height: 200px;
	overflow: hidden;
	margin: 25px 0px 0px;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1540px;
	
	}

.jimgMenu ul li {
	float: left;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:78px;
	height: 200px;
}
.jimgMenu ul li.ing-indus a {
	background: url(../carreras/ing-ins/industrial.jpg) repeat scroll 0%;
}
.jimgMenu ul li.ing-meca a {
	background: url(../carreras/ing-mec/ing-meca.jpg) repeat scroll 0%;
}
.jimgMenu ul li.ing-elec a {
	background: url(../carreras/ing-electri/elec.jpg) repeat scroll 0%;
}
.jimgMenu ul li.ing-electro a {
	background: url(../carreras/ing-electro/electro.jpg) repeat scroll 0%;
}
.jimgMenu ul li.ing-sis a {
	background: url(../carreras/ing-sis/sistemas1.jpg) repeat scroll 0%;
}
.jimgMenu ul li.cien-com a {
	background: url(../carreras/cien-com/comp.jpg) repeat scroll 0%;	
}
.jimgMenu ul li.tele a {
	background: url(../carreras/tele/telecomunc.jpg) repeat scroll 0%;
	min-width:310px;

}
form {
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
form h2{
    color: aliceblue;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#botton{
    background: #31384a;
    padding: 20px;
    color: #fff;
}
#botton:hover{
    cursor: pointer;
}
@media (max-width:480px){
    form{
        width: 100%;
    }
}